<div id="add_form" ng-controller="addSongsCtrl" >

    <label class="inline">  Song Name</label>
    <input ng-model="newsong.title" type="text" id="song_name" name="song_name">

    <label class="inline" for="artist_name">  Artist Name</label>
    <input ng-model="newsong.artist" type="text" id="artist_name" name="artist_name">

    <label class="inline" for="album_name">  Album Name</label>
    <input ng-model="newsong.album" type="text" id="album_name" name="album_name">

    <button ng-click="addSong()">  Add Song</button>

</div> <!-- end add_wrap -->












