{{#each songs}}
  <div>
     <h2>{{Title}}</h2>
     <ul>
         <li>{{Artist}}</li>
         <li>{{Album}}</li>
         {{!-- <li>{{Genre}}</li> --}}
     </ul>
     <button class='edit-song btn btn-default' type='button'>Edit</button>

     <button class='delete-song btn btn-default' type='button'>Delete</button>

  </div>
{{/each}}


